<a href="{{routes.root_url}}" data-id='#nt_menu_canvas' class="push_side push-menu-btn {{push_menu}} lh__1 flex al_center">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
    <rect width="30" height="1.5"></rect>
    <rect y="7" width="20" height="1.5"></rect>
    <rect y="14" width="30" height="1.5"></rect>
  </svg>
  {% comment %}
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16">
      <rect width="20" height="2"></rect>
      <rect y="7" width="30" height="2"></rect>
      <rect y="14" width="25" height="2"></rect>
  </svg>
  {% endcomment %}
</a>