<ol id="collection_list_pog-{{section.id}}" class="collection_list_pog_class">

</ol>


<script>

  var collection_list_func = function(){

    var list_text = document.getElementById('collection_list_pog-{{section.id}}');
	var itemLength = document.getElementsByClassName('grid__item__beautify small--one-half medium-up--one-quarter').length;
    for (let a = 0; a < itemLength; a++) {
      list_text.innerHTML += '<li></li>'
    }

    var list = list_text.getElementsByTagName('li')
    list[0].index = 0
    list[0].className = 'active'


  }();
  
</script>