<ol id="collection_list_pog-{{section.id}}" class="collection_list_pog_class">

</ol>


<script>

  var collection_list_func = function(){
//获取轮播点
// 	var contentbox = document.getElementById('grid-ul-beautify-box');
    var list_text = document.getElementById('collection_list_pog-{{section.id}}');
//     var list_text = document.getElementsByClassName('collection_list_pog_class')[0];
	var itemLength = document.getElementsByClassName('grid__item__beautify small--one-half medium-up--one-quarter').length;
    for (let a = 0; a < itemLength; a++) {
//       itemlist[a].index = a
      list_text.innerHTML += '<li></li>'
    }

    var list = list_text.getElementsByTagName('li')
    list[0].index = 0
    list[0].className = 'active'

//     for (var c = 0; c < list.length; c++) {
//       list[c].index = c
//       list[c].onclick = function () {
//         for (var j = 0; j < list.length; j++) {
//           list[j].className = ''
//         }
//         this.className = 'active'
//         contentbox.style.transform =
//           'translate(' + -itemlist[this.index].index * diff + 'px' + ')'
//       }
//     }

  }();
  
</script>