<ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile my_main_product_ul my_main_product_ul_nomargin" role="list">
  <div class="box" style="position:relative; width: 100%; margin: 15px auto 0; padding: 0 25px;">
    <div class="swiper my_swiper_detail">
      <div class="swiper-wrapper my_swiper_div">
        {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign media = product.selected_or_first_available_variant.featured_media -%}
        <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" 
            data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
        {%- endif -%}
        {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        <li class="swiper-slide" 
            data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
        {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="swiper-button-prev main_product_prev"></div>
    <div class="swiper-button-next main_product_next"></div>
  </div>
</ul>