<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper_pagination_blog {
    display: flex;
    justify-content: center;
  }

  .swiper_pagination_blog .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
  }

  .swiper_pagination_blog .swiper-pagination-bullet {
    transition: all 1.5s;
    border: 1.5px solid #000;
  }

  .my_swiper_blog li {
    text-align: left;
  }
</style>
<div class="swiper my_swiper_blog">
  <div class="swiper-wrapper">
    {%- case section.settings.show_view_all -%}
    {%- when true -%}

    {%- for article in section.settings.blog.articles limit: blog_number -%}
    <li class="blog__post grid__item article slider__slide slider__slide--full-width 1 swiper-slide" style="background:transparent;">
      {% render 'article-card-beautify', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_title: section.settings.show_title,show_short_content: section.settings.show_short_content,show_date: section.settings.show_date, show_author: section.settings.show_author %}
    </li>
    {%- endfor -%}

    {%- when false -%}


    {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
    <li class="blog__post grid__item article slider__slide slider__slide--full-width 2 swiper-slide" style="background:transparent;">
      {% render 'article-card-beautify', blog: section.settings.blog, article: article, show_image: section.settings.show_image, show_title: section.settings.show_title,show_short_content: section.settings.show_short_content,show_date: section.settings.show_date, show_author: section.settings.show_author %}
    </li>
    {%- endfor -%}

    {%- endcase -%}
  </div>
  <div class="swiper_pagination_blog"></div>
</div>

<script type="module">
  import Swiper from '{{ 'swiper-bundle.esm.browser.min.js' | asset_url }}'
  
  var swiper = new Swiper(".my_swiper_blog", {
      //slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
          el: ".swiper_pagination_blog",
          clickable: true,
      },
      breakpoints: {
        0: {  //当屏幕宽度大于等于0 
          slidesPerView: 1,
          spaceBetween: 15,
        },
        750: {  //当屏幕宽度大于等于750 
          slidesPerView: 2,
          spaceBetween: 15,
        },
        990: {  //当屏幕宽度大于等于990
          slidesPerView: 3,
          spaceBetween: 30,
		}
      }
  });
  
  var designMode = Shopify.designMode || false;
  if(designMode){
    document.addEventListener('shopify:section:load',() => {  
     var swiper = new Swiper(".my_swiper_blog", {
          //slidesPerView: 3,
       spaceBetween: 30,
       pagination: {
           el: ".swiper_pagination_blog",
       	   clickable: true,
          },
          breakpoints: {
            0: {  //当屏幕宽度大于等于0 
              slidesPerView: 1,
              spaceBetween: 15,
            },
            750: {  //当屏幕宽度大于等于750 
              slidesPerView: 2,
              spaceBetween: 15,
            },
            990: {  //当屏幕宽度大于等于990
              slidesPerView: 3,
              spaceBetween: 30,
            }
          }
  });

	},true);
 }
</script>