<div class="clock1">
<span class="clock__digit">1</span>
<span class="clock__digit">7</span>
<span class="clock__digit">:</span>
<span class="clock__digit">1</span>
<span class="clock__digit">9</span>
<span class="clock__digit">:</span>
<span class="clock__digit">3</span>
<span class="clock__digit">0</span>
</div>

<div style="text-align: center">
  <input type="text" id="timetext" value="00时00分00秒" readonly><br>
  <button type="button" onclick="start()">开始</button> <button type="button" onclick="stop()">暂停</button> <button type="button" onclick="Reset()">重置</button>
</div>



<div class="contatin">
  
  <div class="left">
    <div class="felx_box">
      <h1>Daily Deal Of The Day</h1>
      <div class="clock"></div>
      <div class="clock"></div>
      <div class="clock"></div>
      <div class="clock"></div>
    </div>
    
    <div>
    
      <p>Best gift for us</p>
      <p>Sweety Sweety Sweety Sweety Sweety</p>
      <a class=""t1><button>shop now</button></a>
      <a class="t2"><button>Detail</button></a>

    
    </div>
  
  </div>
  <div class="right">
    <div style="transform:skew(-20deg); overflow:hidden;">
      <img style="transform:skew(20deg);" src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fa.300.cn%2Fanliku%2F180906%2F0008901603.jpg&refer=http%3A%2F%2Fa.300.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1637139827&t=a05c95f5466dbcfce1504784d73e4336">
    </div>
  </div>


</div>




{% schema %}
  {
    "name": "daily-deal-of-the-day",
	"tag":"section",
    "settings": [],
	"presets":[
	{
	"name":"daily-deal-of-the-day"
	}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}




{% javascript %}
{% endjavascript %}


<style>
  
 
  
  .contatin{
  background-color: #dfdfdf;
  display:flex;
  align-items: center;
  }
  .left,.right{
  flex:1;
  }
  
  .left,.clock1{
  
  text-align:center;
  }
  
  .felx_box{
  
  display:flex;
  }
  
  .clock {
  border: 4px solid #00cc9d;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0px auto;
  display:inline-block !important;
}

.clock::before {
  content: " ";
  background-color: #fd43bb;
  display: block;
  width: 3px;
  height: 40px;
  margin: 50%;
  -webkit-animation: tick 36s linear infinite;
  -moz-animation: tick 36s linear infinite;
  animation: tick 36s linear infinite;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

.clock::after {
  content: " ";
  background-color: #0088cc;
  display: block;
  width: 3px;
  height: 25px;
  margin: -93% 0 0 50%;
  -webkit-animation: tick 864s linear infinite;
  -moz-animation: tick 864s linear infinite;
  animation: tick 864s linear infinite;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

@-moz-keyframes tick {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes tick {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  
</style>



<script>


</script>


