

<div class=" page-width ">


  <div class="">
    {%- for block in section.blocks -%}

      {% liquid
        assign focus_card_left = false
        if section.settings.desktop_layout == 'left' and forloop.first
          assign focus_card_left = true
        elsif section.settings.desktop_layout == 'right' and forloop.last
          assign focus_card_right = true
        endif
      %}
      {%- case block.type -%}
        {%- when 'image' -%}
			  {%- assign collection = collections[block.settings.collection] -%}
              {% include 'collection-grid-item', collection: collection %}

         {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collage.name",
  "tag": "section",
  "class": "spaced-section collage-section",
  "settings": [
       {
          "type": "select",
          "id": "section_height",
          "options": [
           {
              "value": "extra_small",
              "label": "Extra Small"
            },
			{
              "value": "small",
              "label": "Small"
            },
			{
              "value": "medium",
              "label": "Medium"
            },
			{
              "value": "large",
              "label": "Large"
            },
			{
              "value": "extra_large",
              "label": "Extra Large"
            }
          ],
          "default": "medium",
          "label": "Section height"
        }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        },
		     {
          "type": "select",
          "id": "align_text",
          "label": {
        
            "en": "Position"
          },
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": {

                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
     
                "en": "Centered"
              }
            },
            {
              "value": "right",
              "label": {

                "en": "Right"
              }
            }
          ]
        },
		
       {
        "label": "Link ",
        "id": "img_link",
        "type": "url",
		"info":"Opitional"
      },
		
        {
          "type": "text",
          "id": "caption_head",
          "label": {

            "en": "Caption"
          },
          "default": {

            "en": "Image"
          }
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "t:sections.collage.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
