



<slider-component>

  
  <ul>
    <li></li>
  </ul>
  
  <button type="button" name="previous">上一个</button>
  <div> 
    <span class="slider-counter--current">计数pageCount</span>
    <span class="slider-counter--total">计数剩余pageTotal</span>
  </div>
  <button type="button" name="next">下一个</button>
</slider-component>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
