


  

  

.placeholder-svg {
  display: block;
  fill: var(--color-blankstate);
  background-color: var(--color-foreground);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid var(--color-blankstate-border); }

.placeholder-noblocks {
  padding: 40px;
  text-align: center; }

.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .placeholder-background .icon {
    border: 0; }

.image-bar__content .placeholder-svg {
  position: absolute;
  top: 0;
  left: 0; }





.custom-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: -30px;
  margin-left: -30px; }
/*   @media only screen and (max-width: 749px) {
    .custom-content {
      margin-bottom: -22px;
      margin-left: -22px; } } */
/* lzx change start */
  @media only screen and (max-width: 990px) {
    .custom-content {
      margin-bottom: -15px;
      margin-left: -15px; } }
/* lzx change end */

.custom__item {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-bottom: 30px;
  padding-left: 30px;
  max-width: 100%; }
  @media only screen and (max-width: 749px) {
    .custom__item {
      -webkit-flex: 0 0 auto;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
/*       padding-left: 22px; lzx change
      margin-bottom: 22px; */ 
      padding-left: 15px;
      margin-bottom: 15px; }
      .custom__item.small--one-half {
        -webkit-flex: 1 0 50%;
        -moz-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto; } }
  .custom__item .collection-grid-item {
    margin-bottom: 0; }

.custom__item-inner {
  position: relative;
  display: block;
  text-align: left;
  max-width: 100%; }

.custom__item-inner--video,
.custom__item-inner--collection,
.custom__item-inner--html {
  display: block; }

.custom__item-inner--image {
  position: relative;
  margin: 0 auto; }

.custom__image {
  width: 100%;
  display: block;
  position: absolute;
  top: 0; }
   

/*================ mean-li ================*/     
.list--inline>li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
    
.list--inline>li a {
   touch-action: manipulation;
   text-decoration: none;
   color: rgba(var(--color-foreground),.75);
}    
    
   
   
   

/*================ product-grid ================*/    
   
.grid-view-item a{

text-decoration:none;
}


.grid-view-item {
  margin: 0 auto 35px; }
  .custom__item .grid-view-item {
    margin-bottom: 0; }

.grid-view-item__title {
  margin-bottom: 0;
  color: rgba(var(--color-foreground), 0.75);}

.grid-view-item__meta {
  margin-top: 8px; 
 color: rgba(var(--color-foreground), 0.55);}

@media only screen and (max-width: 749px) {
  .grid-view-item__title,
  .grid-view-item__meta {
    font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em); } }

.grid-view-item__link {
  display: block; }

.grid-view-item__vendor {
  margin-top: 4px;
  color: var(--color-body-text);
  font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em);
  text-transform: uppercase; }
  @media only screen and (max-width: 749px) {
    .grid-view-item__vendor {
      font-size: calc(((var(--font-size-base) - 3) / (var(--font-size-base))) * 1em); } }

.grid-view-item__image-wrapper {
  margin: 0 auto 15px;
  position: relative;
  width: 100%; }

.grid-view-item__image {
  display: block;
  margin: 0 auto;
  width: 100%; }
  .grid-view-item__image-wrapper .grid-view-item__image {
    position: absolute;
    top: 0; }
  .grid-view-item__image.lazyload {
    opacity: 0; }

   
   
/*================ collection-grid ================*/ 
   
   
   
.section-header >*{

margin:0;
padding:0;  
}





.collection-grid-item__title-wrapper > .h3{

font-size:3rem;
font-weight:600;  
}
  
   

.collection-grid {
  margin-bottom: -22px;
  overflow: auto; }

.collection-grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 22px; }
  @media only screen and (min-width: 750px) {
    .collection-grid-item {
      margin-bottom: 30px; } }

/* lzx change prev_btn, next_btn in Carousel align center --start-- */
.my_collection_grid_item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 0px; }
  @media only screen and (min-width: 750px) {
    .my_collection_grid_item {
      margin-bottom: 0px; } }
/* lzx change prev_btn, next_btn in Carousel align center --end-- */

.collection-grid-item__title {
  color: var(--color-overlay-title-text) !important;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  padding: 0 5px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.1s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  hyphens: auto; }
  @media only screen and (min-width: 750px) {
    .collection-grid-item__title {
      padding: 0 15px; } }

/* lzx change font in Carousel align center --start-- */
.my_collection_grid_item_title {
  color: var(--color-overlay-title-text) !important;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  padding: 0 0px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.1s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  hyphens: auto; }
  @media only screen and (min-width: 750px) {
    .my_collection_grid_item_title {
      padding: 0 0px; } }
/* lzx change font in Carousel align center --end-- */

.collection-grid-item__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .collection-grid-item__link:hover .collection-grid-item__title-wrapper::before, .collection-grid-item__link:focus .collection-grid-item__title-wrapper::before {
    opacity: var(--hover-overlay-opacity); }
  .collection-grid-item__link:focus {
    opacity: 1; }

.collection-grid-item__overlay {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.collection-grid-item__title-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-image-overlay);
  opacity: var(--opacity-image-overlay); }   
   
   
   

/*================ button ================*/   


.product-form__buttons{


max-width:30rem;

}

@media only screen and (max-width: 749px) {
.product-form__buttons{


      max-width:100%;

      }
	}


@media screen and (min-width: 750px) {

}



.btn, .shopify-payment-button .shopify-payment-button__button--unbranded {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
/*   width: 30rem; */
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
/*   border: 1px solid transparent;
  border-radius: 2px; */
  padding: 8px 15px;
  background-color: var(--color-foreground);
  color: rgba(255,255,255,1);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  white-space: normal;
/*   font-size: calc(((var(--font-size-base) - 2) / (var(--font-size-base))) * 1em); */
  font-size: 13px; }


.btn--small {
  padding: 8px 10px;
  font-size: calc(((12) / (var(--font-size-base))) * 1em);
  line-height: 1; }

.btn--tertiary {
  background-color: transparent;
  color: var(--color-foreground);
  border-color:var(--color-foreground);}

  .btn--tertiary:not([disabled]):hover, .btn--tertiary:focus {
    background-color: transparent;
    color: var(--color-foreground);
    border-color: var(--color-foreground); }
   


/*================ blog ================*/


.blog-card__excerpt {
    margin-bottom: 1.5rem;
}

.blog-card__comment-count {
  border-color: transparent;
  border-bottom-color: currentColor;
  padding: 0 0 3px 0; }
  .blog-card__comment-count:not([disabled]):hover, .blog-card__comment-count:focus {
    border-color: transparent;
    border-bottom-color: currentColor; }


/*================ artice ================*/


.article a{

text-decoration:none;
}

.article ul{

 padding: 0
 
}


.article__title  {
	font-size:28px !important;
  	font-weight:bold !important;
}

.article__comment-count {
  border-color: transparent;
  border-bottom-color: currentColor;
  padding: 0 0 3px 0; }
  .article__comment-count:not([disabled]):hover, .article__comment-count:focus {
    border-color: transparent;
    border-bottom-color: currentColor; }

.article__meta-buttons li:first-child {
    margin-right: 1.5rem;
}


/*================ Linklist ================*/
@media only screen and (max-width: 749px) {
  .custom__item.custom__item--link_list {
    flex: 1 0 100%;
    max-width: none; } }

.custom__linklist {
  margin-left: -15px;
  margin-right: -15px; }
  @media only screen and (min-width: 750px) {
    .custom__linklist {
      margin-left: -12px;
      margin-right: -12px; } }

.custom__linklist-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0; }
  @media only screen and (min-width: 750px) {
    .custom__linklist-link {
      padding: 3px 12px;
      margin-top: 0;
      margin-bottom: 0; } }
   
   
   
   
   .video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    height: auto;
}
   
   
.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}   
   
  .text-center {
    text-align: center !important;
} 
   
   
   /*============================================================================
  Grid Columns
    - Create width classes, prepended by the breakpoint name.
==============================================================================*/
/*================ Grid push classes ================*/
/*================ Clearfix helper on uniform grids ================*/
/*================ Build Base Grid Classes ================*/
/* Whole */
.one-whole {
  width: 100%; }

/* Halves */
.one-half {
  width: 50%; }

/* Thirds */
.one-third {
  width: 33.33333%; }

.two-thirds {
  width: 66.66667%; }

/* Quarters */
.one-quarter {
  width: 25%; }

.two-quarters {
  width: 50%; }

.three-quarters {
  width: 75%; }

/* Fifths */
.one-fifth {
  width: 20%; }

.two-fifths {
  width: 40%; }

.three-fifths {
  width: 60%; }

.four-fifths {
  width: 80%; }

/* Sixths */
.one-sixth {
  width: 16.66667%; }

.two-sixths {
  width: 33.33333%; }

.three-sixths {
  width: 50%; }

.four-sixths {
  width: 66.66667%; }

.five-sixths {
  width: 83.33333%; }

/* Eighths */
.one-eighth {
  width: 12.5%; }

.two-eighths {
  width: 25%; }

.three-eighths {
  width: 37.5%; }

.four-eighths {
  width: 50%; }

.five-eighths {
  width: 62.5%; }

.six-eighths {
  width: 75%; }

.seven-eighths {
  width: 87.5%; }

/* Tenths */
.one-tenth {
  width: 10%; }

.two-tenths {
  width: 20%; }

.three-tenths {
  width: 30%; }

.four-tenths {
  width: 40%; }

.five-tenths {
  width: 50%; }

.six-tenths {
  width: 60%; }

.seven-tenths {
  width: 70%; }

.eight-tenths {
  width: 80%; }

.nine-tenths {
  width: 90%; }

/* Twelfths */
.one-twelfth {
  width: 8.33333%; }

.two-twelfths {
  width: 16.66667%; }

.three-twelfths {
  width: 25%; }

.four-twelfths {
  width: 33.33333%; }

.five-twelfths {
  width: 41.66667%; }

.six-twelfths {
  width: 50%; }

.seven-twelfths {
  width: 58.33333%; }

.eight-twelfths {
  width: 66.66667%; }

.nine-twelfths {
  width: 75%; }

.ten-twelfths {
  width: 83.33333%; }

.eleven-twelfths {
  width: 91.66667%; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }
 



.grid__item__featured {
  padding-left: 3rem;
  padding-bottom: 3rem;
  width: 50%;
  max-width:50%;
  flex-grow: 1;
  flex-shrink: 0;
}






@media only screen and (max-width: 750px) {
  
 
  /* Whole */
  .small--one-whole {
    width: 100%; }
  /* Halves */
  .small--one-half {
    width: 50%; }
  /* Thirds */
  .small--one-third {
    width: 33.33333%; }
  .small--two-thirds {
    width: 66.66667%; }
  /* Quarters */
  .small--one-quarter {
    width: 25%; }
  .small--two-quarters {
    width: 50%; }
  .small--three-quarters {
    width: 75%; }
  /* Fifths */
  .small--one-fifth {
    width: 20%; }
  .small--two-fifths {
    width: 40%; }
  .small--three-fifths {
    width: 60%; }
  .small--four-fifths {
    width: 80%; }
  /* Sixths */
  .small--one-sixth {
    width: 16.66667%; }
  .small--two-sixths {
    width: 33.33333%; }
  .small--three-sixths {
    width: 50%; }
  .small--four-sixths {
    width: 66.66667%; }
  .small--five-sixths {
    width: 83.33333%; }
  /* Eighths */
  .small--one-eighth {
    width: 12.5%; }
  .small--two-eighths {
    width: 25%; }
  .small--three-eighths {
    width: 37.5%; }
  .small--four-eighths {
    width: 50%; }
  .small--five-eighths {
    width: 62.5%; }
  .small--six-eighths {
    width: 75%; }
  .small--seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .small--one-tenth {
    width: 10%; }
  .small--two-tenths {
    width: 20%; }
  .small--three-tenths {
    width: 30%; }
  .small--four-tenths {
    width: 40%; }
  .small--five-tenths {
    width: 50%; }
  .small--six-tenths {
    width: 60%; }
  .small--seven-tenths {
    width: 70%; }
  .small--eight-tenths {
    width: 80%; }
  .small--nine-tenths {
    width: 90%; }
  /* Twelfths */
  .small--one-twelfth {
    width: 8.33333%; }
  .small--two-twelfths {
    width: 16.66667%; }
  .small--three-twelfths {
    width: 25%; }
  .small--four-twelfths {
    width: 33.33333%; }
  .small--five-twelfths {
    width: 41.66667%; }
  .small--six-twelfths {
    width: 50%; }
  .small--seven-twelfths {
    width: 58.33333%; }
  .small--eight-twelfths {
    width: 66.66667%; }
  .small--nine-twelfths {
    width: 75%; }
  .small--ten-twelfths {
    width: 83.33333%; }
  .small--eleven-twelfths {
    width: 91.66667%; }
  .grid--uniform .small--one-half:nth-child(2n+1),
  .grid--uniform .small--one-third:nth-child(3n+1),
  .grid--uniform .small--one-quarter:nth-child(4n+1),
  .grid--uniform .small--one-fifth:nth-child(5n+1),
  .grid--uniform .small--one-sixth:nth-child(6n+1),
  .grid--uniform .small--two-sixths:nth-child(3n+1),
  .grid--uniform .small--three-sixths:nth-child(2n+1),
  .grid--uniform .small--one-eighth:nth-child(8n+1),
  .grid--uniform .small--two-eighths:nth-child(4n+1),
  .grid--uniform .small--four-eighths:nth-child(2n+1),
  .grid--uniform .small--five-tenths:nth-child(2n+1),
  .grid--uniform .small--one-twelfth:nth-child(12n+1),
  .grid--uniform .small--two-twelfths:nth-child(6n+1),
  .grid--uniform .small--three-twelfths:nth-child(4n+1),
  .grid--uniform .small--four-twelfths:nth-child(3n+1),
  .grid--uniform .small--six-twelfths:nth-child(2n+1) {
    clear: both; }
  .small--show {
    display: block !important; }
  .small--hide {
    display: none !important; }
  .small--text-left {
    text-align: left !important; }
  .small--text-right {
    text-align: right !important; }
  .small--text-center {
    text-align: center !important; } 




.grid__item__featured {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  width: 50%;
  max-width:50%;
  flex-grow: 1;
  flex-shrink: 0;
}

}



  
   @media only screen and (min-width: 750px) {
  /** Whole */
  .medium-up--one-whole {
    width: 100%; }

  /* Halves */
  .medium-up--one-half {
    width: 50%; }

  /* Thirds */
  .medium-up--one-third {
    width: 33.33333%; }

  .medium-up--two-thirds {
    width: 66.66667%; }

  /* Quarters */
  .medium-up--one-quarter {
    width: 25%; }

  .medium-up--two-quarters {
    width: 50%; }

  .medium-up--three-quarters {
    width: 75%; }

  /* Fifths */
  .medium-up--one-fifth {
    width: 20%; }

  .medium-up--two-fifths {
    width: 40%; }

  .medium-up--three-fifths {
    width: 60%; }

  .medium-up--four-fifths {
    width: 80%; }

  .medium-up--one-sixth{
    width: 16.66666%;
     }   
     

  .grid--uniform .medium-up--one-half:nth-child(2n+1),
  .grid--uniform .medium-up--one-third:nth-child(3n+1),
  .grid--uniform .medium-up--one-quarter:nth-child(4n+1),
  .grid--uniform .medium-up--one-fifth:nth-child(5n+1),
  .grid--uniform .medium-up--one-sixth:nth-child(6n+1),   {
    clear: both; }

  .medium-up--show {
    display: block !important; }

  .medium-up--hide {
    display: none !important; }

  .medium-up--text-left {
    text-align: left !important; }

  .medium-up--text-right {
    text-align: right !important; }

  .medium-up--text-center {
    text-align: center !important; } 
   }


