.video-section.page-width {
/*   margin-top: 5rem;
  margin-bottom: 5rem; */
  margin-top: 5.5rem;
}

/* lzx change start */
@media screen and (max-width: 990px) {
  .video-section.page-width {
    margin-top: 3.5rem;
  }
}
/* lzx change end */

.video-section__media {
  position: relative;
  padding-bottom: 56.25%;
}

.video-section__media.deferred-media {
  overflow: visible;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
